#footer {
	width: 100%;
	overflow: hidden;
	color: $gray2;
	padding: 0 15px;
	font-size: 14px;
	line-height: 18px;
	@include media('<tablet'){
		text-align: center;
	}
	.footer-holder {
		max-width: 1330px;
		padding: 15px 0;
		margin: 0 auto;
		border-top: 1px solid $gray2;
		@include media('>=tablet'){
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
		a{
			color: $gray2;
			&:hover{
				opacity: 0.8;
			}
		}
	}
}

.copyright {
	a{
		color: $gray2;
	}
}

.socialnetwroks {
	@extend %listreset;
	text-transform: uppercase;
	padding-top: 15px;
	@include media('>=tablet'){
		padding-top: 0;
	}

	li {
		display: inline-block;
		vertical-align: middle;
		padding: 0 5px;
		&:nth-child(1){
			a{
				&:hover{
					box-shadow: 0 2px 4px 0 rgba(68, 100, 162, 0.3);
				}
			}
		}
		&:nth-child(2){
			a{
				&:hover{
					box-shadow: 0 2px 4px 0 rgba(218, 45, 117, 0.3);
				}
			}
		}
		&:nth-child(3){
			a{
				&:hover{
					 box-shadow: 0 2px 4px 0 rgba(29, 161, 242, 0.3);
				}
			}
		}
	}

	a{
		display: block;
		width: 20px;
		height: 20px;
		border-radius: 100%;

		img {
			@include responsive-image;
			border-radius: 100%;
		}
		&:hover{
			box-shadow: 0 2px 4px 0 rgba(68, 100, 162, 0.3);
		}
	}
}